scripts/
testAssets/

# Generated Directory
shared/src/main/resources/doki/generated
shared/src/main/resources/doki/icons

# macOS
.DS_Store

# IntelliJ
out/
.idea/
*.iml

# Gradle
.gradle/
build/
classes/

#gradle.properties
*.icls
src/test/resources/

masterThemes/
.qodana/

.gradle
.idea
.qodana
build
iconSource/
